---
layout: default
---
{% assign entradas_categoria = site.categories[page.category_name] %}
{% assign categoria_info = site.data.categorias | where: "nombre", page.category_name | first %}
{% assign base = "/category/" | append: categoria_info.slug %}
{% assign pagina_actual = page.pagina | default: 1 %}
{% assign por_pagina = site.paginate %}
{% assign total_paginas = entradas_categoria.size | plus: por_pagina | minus: 1 | divided_by: por_pagina %}
{% assign offset = pagina_actual | minus: 1 | times: por_pagina %}
{% assign entradas_pagina = entradas_categoria | slice: offset, por_pagina %}
<header class="archive-description">
	<h1 class="archive-title">Categoría: {{ page.title }}</h1>
	{% if page.descripcion %}<p>{{ page.descripcion }}</p>{% endif %}
</header>
{% for post in entradas_pagina %}
{% include entry.html post=post %}
{% endfor %}
{% include archivo-paginacion.html pagina_actual=pagina_actual total_paginas=total_paginas base=base %}
